/* - GENNERL - */

/* *{
    border: 1px red solid;
} */

main{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infoContainer {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
}

@media screen and (min-width: 800px) {
    section {
        margin: 1rem 1rem;
    }
}

#infoContainer {
    background-color: var(--container);
}

.line {
    display: block;
    width: 100px;
    height: 2px;
    background-color: var( --line);
    margin-bottom: 2rem;
}

/* - TYPOGRPHY - */

h2 {
    margin: 0;
}

/* - Title - */
.movieTitle{
    text-align: left;
}

.ageRating{
    border: 1px solid var(--font-color);
    padding: 3px;
    border-radius: 20%;
}

.movieGenre{
    margin-left: 2px;
}

.movieGenre, .ageRating{
    font-size: medium;
}

/* - TRAILER - */

.trailer {
    width: 100vw; 
    height: 50vh;
    margin: 3rem 0;
}

@media screen and (min-width: 800px) {
    .trailer{
        height: 80vh;
    }
}
/* - SYNOPSIS - */

.synopsis p{
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}


/* - CAST - */

.cast {
    display: flex;
    flex-direction: column;
}

.castTable {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
    text-align: left;
}

.castTable table {
    border-collapse: collapse;
}

table th, table td {
    padding: 0.8rem ;
}

table td {
    padding-bottom: 1.5rem;
}

@media screen and (min-width: 800px) {
    
    .castBookingContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .cast, .booking {
        width: 47%; 
        height: 46rem;
    }
}

/* - TRAILER - */

.trailer {
    width: 97vw; 
    height: 35vh;
    margin: 2rem 0
}

@media screen and (min-width: 800px) {
    .trailer{
        height: 80vh;
        margin: 2rem 0;
    }
}

/* - SYNOPSIS - */

.synopsis p{
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}


/* - BOOKING - */

.booking button {
    display: inline-block;
    border: 2px solid var(--date-tick);
    border-radius: 10px;
    padding: 4px 24px;
    margin: 20px;
    text-align: center;
    transition-duration: 300ms;
    transition-timing-function: ease;
    font-family: var(--font-family);
}

.booking p{
    color: var(--font-color);
}

/* date button */

.date button:hover {
    border: 2px solid var(--font-color);
}

.date button {
  background-color:var(--container);
}

.date button.active{
  background-color: var(--date-tick);
}

/* time button */

.time button:hover {
    border: 2px solid var(--font-color);
}

.time button {
  background-color:var(--bg-tick);
}

.time button:focus {
  background-color:var(--date-tick);
}
