/* - GENNERL - */

/* *{
    border: 1px red solid;
} */

main{
    margin-bottom: 2rem;
}

section {
    margin: 1rem 0 1rem 0;
    padding: 2rem;
}

@media screen and (min-width: 800px) {
    section {
        margin: 1rem 0 1rem 0;
    }
}


.cast, .booking, .synopsis {
    background-color: var(--container);
}

.line {
    display: block;
    width: 100px;
    height: 2px;
    background-color: var( --line);
    margin-bottom: 2rem;
}

/* - TYPOGRPHY - */

h2 {
    margin: 0;
}

/* - Title - */
.movieTitle{
    padding-left: 5px;
}

.ageRating{
    border: 1px solid var(--font-color);
    padding: 3px;
    border-radius: 20%;
}

.movieGenre{
    margin-left: 2px;
}

.movieGenre, .ageRating{
    font-size: medium;
}

/* - TRAILER - */

.trailer {
    width: 100vw; 
    height: 50vh;
    margin: 3rem 0;
}

@media screen and (min-width: 800px) {
    .trailer{
        height: 80vh;
    }
}
/* - SYNOPSIS - */

.synopsis p{
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}


/* - CAST - */

.cast {
    display: flex;
    flex-direction: column; 
}

.cast div {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    height: 200px; 
    gap: 10px;
    margin-top: 20px;
}

.cast > div p {
    margin: 2px;
}


@media screen and (min-width: 800px) {
    
    .castBookingContainer {
        width: 100vw;
        display: flex;
        justify-self: center;
        justify-content: space-between;
        gap: 1rem
        ;
    }

    .cast, .booking{
        width: 40rem;
    }

    .cast{
        width: 40rem;
    }

}

/* - BOOKING - */

.booking button {
    display: inline-block;
    border: 2px solid var(--date-tick);
    border-radius: 10px;
    padding: 4px 24px;
    margin: 20px;
    text-align: center;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.booking p{
    color: var(--font-color);
}

/* date button */

.date button:hover {
    border: 2px solid var(--font-color);
}

.date button {
  background-color:var(--container);
}

.date button.active{
  background-color: var(--date-tick);
}

/* time button */

.time button:hover {
    border: 2px solid var(--font-color);
}

.time button {
  background-color:var(--bg-tick);
}

.time button:focus {
  background-color:var(--date-tick);
}
