section {
    border: 1px red solid;
    background-color: var(--dark-container);
    padding: 2rem;
    margin: 10px 0 10px 0;
}

.booking{

}

.cast {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.cast h2 {
    margin-bottom: 10px;
}

.cast div {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    height: 200px; 
    gap: 10px;
}

.cast > div p {
    margin: 2px;
}

.trailer {
    width: 100vw; 
    height: 50vw;
}

.synopsis{

}

.ticket {

}

}

.container div {
    background-color: red;
    display: inline-block
}