:root {
  --font-family: "Libre Baskerville", serif;
  --header-font-family: "Libre Baskerville", serif;
  --body-font-family: "Libre Baskerville", serif;

  --background: #fdeed7;
  --font-color: #113e58;
  --icon-color: black;
  --nav: #033856;
  --container: #fff5e5;
  --line: #109ceb;
  --date-tick: #a9ddfb;
  --bg-tick: #c7e2db;
  --cta: #e65478;
  --hero-bg: #3e727a89;
  --border-color: #033856;
  --footer-font-color: #FDEED7;
  --email-cta-bg: #109CEB;
  --carousel-p-color: #504D47;
  --carousel-line-color: #109CEB;
  --navbar-font-color: #fbf9f5;
  --desktop-navbar-location: #31586E;

  --button-color: #ffffff;

  --cta-button-bg: #E65478;
}

.dark-mode {
  --background: #061524;
  --font-color: #fffdf9;
  --icon-color: white;
  --nav: #084d75;
  --container: #13273b;
  --line: #e65478;
  --date-tick: #6f7fb3;
  --bg-tick: #131f44;
  --cta: #e65478;
  --hero-bg: #3e727a89;
  --border-color: #FDEED7;
  --footer-font-color: #FDEED7;
  --email-cta-bg: #507498;
  --carousel-p-color: #8DABCA;
  --carousel-line-color: #E65478;
  --navbar-font-color: #fbf9f5;
  --desktop-navbar-location: #113A51;

  --button-color: #ffffff;

  --cta-button-bg: #E65478;
}

*{
  box-sizing: border-box;
}

body {
  font-family: var(--body-font-family);
  background-color: var(--background);
  font-size: 14px;
  color: var(--font-color);
  margin: 0;
}

@media screen and (min-width: 800px) {
  .mobile-menu {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .desktop-navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-direction: row;
  }
  .desktop-navbar a {
    color: var(--navbar-font-color);
    text-decoration: none;
    display: flex;
    align-self: center;
  }
  .desktop-navbar-location {
    background-color: var(--desktop-navbar-location);
    padding: 0.5rem 2.5rem;
    border-radius: 40px;
  }
  .cinema-ghibli-logo img{
    height: 8rem;
    width: 12rem;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  background-color: var(--nav);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 2rem;
}

nav img {
  height: 1.8rem;
}

.menu-icon {
  color: var(--icon-color);
  height: 1.5rem;
  width: 1.5rem;
}

.menu-icon-switch {
  color: var(--icon-color);
  height: 25px;
  width: 25px;
  display: block;
  position: absolute;
  left: 35px;
  top: 25px;

  /* Disable text selection and tap highlight */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.menu-icon-switch:hover {
  cursor: pointer;
  scale: 1.1;
}

.menu-icon-switch svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  transition: opacity 0.3s ease;
}

.menu-icon-switch svg:last-child {
  display: none;
  opacity: 0;
}

.dark-mode .menu-icon-switch svg:first-child {
  display: none;
  opacity: 0;
}

.dark-mode .menu-icon-switch svg:last-child {
  display: block;
  opacity: 1;
}

.mobile-menu {
  background-color: var(--container);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 10;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.mobile-menu-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.mobile-menu-logo {
  position: absolute;
  height: 1.8rem;
  top: 1.1rem;
  left: 2rem;
}

.mobile-menu.active {
  opacity: 1;
  pointer-events: all;
}

.header.active {
  z-index: 0;
}

.mobile-menu > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.mobile-menu a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.mobile-menu .menu-icon {
  position: absolute;
  top: 1.4rem;
  right: 2rem;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 18px;
  }
}

.hero {
  width: 100%;
  height: auto;
}

.hero-overlay {
  position: relative;
  width: 100%;
  height: 90vh;
}

.hero-content-container {
  background-color: linear-gradient(to bottom, var(--hero-bg));
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  z-index: 5;
}

.hero-content-container img {
  width: 10rem;
  height: auto;
  margin-bottom: 3rem;
  margin-left: 2.5rem;
}

.hero-text-content {
  margin-top: 0.5rem;
  margin-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: left;
}

.hero-slideshow {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}

.hero-slide1 {
  background-image: url('../assets/images/studio-ghibli-hero-1.png');
  background-size: cover;
  background-position: bottom;
  background-attachment: absolute;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90vh;
  animation: heroAnimation1 12s infinite;
}


.hero-slide2 {
  background-image: url('../assets/images/studio-ghibli-hero-2.png');
  background-size: cover;
  background-position: bottom;
  background-attachment: absolute;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90vh;
  animation: heroAnimation2 12s infinite;
}

main {
  width: 100%;
}

main h2 {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin-top: 4.5rem;
  margin-bottom: 1rem;
}

.current-movie-container {
  width: 100%;
  height: 30rem;
  padding: 1rem 0 0.8rem;
  margin-bottom: 3rem;
  overflow-x: auto;
  display: flex;
  align-items: flex-end;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.current-movie-carousel {
  background-color: var(--container);
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-movie-carousel h3 {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  margin-top: 1rem;
}

.current-movie-carousel:nth-child(11) h3 {
  font-size: 1.2em;
  width: 80%;
}

.current-movie-carousel:nth-child(11) p {
  padding-top: 1.5rem;
}

.current-movie-carousel p {
  color: var(--carousel-p-color);
  margin: 0;
  padding-top: 2rem;
}

.movie-link {
  text-decoration: none;
  color: inherit;
}

.carousel-line {
  width: 70%;
  height: 1px;
  background-color: var(--carousel-line-color);
  margin: 0.5rem;
}

.current-movie-carousel img {
  width: auto;
  height: 300px;
  margin: 0;
}

.airing-soon-container {
  width: 100%;
  height: 30rem;
  padding: 1rem 0 0.8rem;
  margin-bottom: 3rem;
  overflow-x: auto;
  display: flex;
  align-items: flex-end;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.airing-soon-carousel {
  background-color: var(--container);
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.airing-soon-carousel img {
  width: auto;
  height: 300px;
  margin: 0;
}

.airing-soon-carousel h3 {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  margin-top: 1rem;
}

.airing-soon-carousel:nth-child(3) h3 {
  font-size: 1em;
  margin-top: 1.6rem;
}

.airing-soon-carousel:nth-child(4) h3 {
  font-size: 1em;
  margin-top: 1.6rem;
}

.offer-container {
  background-color: var(--cta);
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 0.25rem solid var(--border-color);
}

.offer-container img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.offer-container h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.offer-container p {
  color: white;
  text-align: center;
  padding: 0 1rem 1rem;
}

.cta-container {
  background-color: var(--email-cta-bg);
  color: var(--font-color);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--border-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cta-container h2 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.cta-container p {
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.cta-form {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

#email {
  font-family: "Libre Baskerville", serif;
  height: 35px;
  width: 250px;
  border-radius: 5px;
  border: none;
  padding: 0 0.5rem;
}

.cta-button {
  font-family: "Libre Baskerville", serif;
  background-color: var(--cta-button-bg);
  height: 2rem;
  border: none;
  color: white;
  padding: 0 1.8rem 0 1.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
}

footer {
  background-color: var(--nav);
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: var(--footer-font-color);
}

footer ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin-top: 1rem;

}

footer ul li {
  margin: 0 1rem;

}

footer ul li a {
  color: var(--footer-font-color);
  text-decoration: none;
  font-size: 1rem;
}

footer p {
  font-size: x-large;
  margin: 0;
  margin-bottom: 1rem;
}


@keyframes heroAnimation1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heroAnimation2 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
}