:root {
  --font-family: "Libre Baskerville", serif;

  --background: #fdeed7;
  --font-color: #113e58;
  --icon-color: black;
  --nav: #033856;
  --container: #fff5e5;
  --line: #109ceb;
  --date-tick: #a9ddfb;
  --bg-tick: #c7e2db;
  --cta: #e65478;
  --hero-bg: #3e727a89;
  --border-color: #033856;
  --footer-font-color: #FDEED7;
  --email-cta-bg: #109CEB;
  --navbar-font-color: #fbf9f5;
  --desktop-navbar-location: #31586E;

  --button-color: #ffffff;
}

.dark-mode {
  --background: #061524;
  --font-color: #fffdf9;
  --icon-color: white;
  --nav: #084d75;
  --container: #13273b;
  --line: #e65478;
  --date-tick: #6f7fb3;
  --bg-tick: #131f44;
  --cta: #e65478;
  --hero-bg: #3e727a89;
  --border-color: #FDEED7;
  --footer-font-color: #FDEED7;
  --email-cta-bg: #507498;
  --navbar-font-color: #fbf9f5;
  --desktop-navbar-location: #113A51;

  --button-color: #ffffff;
}

*{
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-size: 14px;
  color: var(--font-color);
  margin: 0;
}

.desktop-navbar {
  display: none;
}

.mobile-navbar {
  background-color: var(--nav);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0 2rem;
}

.mobile-navbar img {
  height: 1.8rem;
}

.menu-icon {
  color: var(--icon-color);
  height: 1.5rem;
  width: 1.5rem;
}

.menu-icon-switch {
  color: var(--icon-color);
  height: 25px;
  width: 25px;
  display: block;
  position: absolute;
  left: 35px;
  top: 25px;

  /* Disable text selection and tap highlight */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.menu-icon-switch:hover {
  cursor: pointer;
  scale: 1.1;
}

.menu-icon-switch svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  transition: opacity 0.3s ease;
}

.menu-icon-switch svg:last-child {
  display: none;
  opacity: 0;
}

.dark-mode .menu-icon-switch svg:first-child {
  display: none;
  opacity: 0;
}

.dark-mode .menu-icon-switch svg:last-child {
  display: block;
  opacity: 1;
}

.mobile-menu {
  background-color: var(--container);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 10;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.mobile-menu-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.mobile-menu-logo {
  position: absolute;
  height: 1.8rem;
  top: 1.1rem;
  left: 2rem;
}

.mobile-menu.active {
  opacity: 1;
  pointer-events: all;
}

.mobile-menu > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.mobile-menu a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.mobile-menu .menu-icon {
  position: absolute;
  top: 1.4rem;
  right: 2rem;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 18px;
  }
}

.hero {
  width: 100%;
  height: auto;
}

.hero-overlay {
  position: relative;
  width: 100%;
  height: 50vh;
}

.hero-content-container {
  background-color: var(--hero-bg);
  width: 47%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.hero-logo {
  width: 70%;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-logo img {
  width: 100%;
  height: auto;
}

.hero-text-content {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-button-upcoming {
  font-family: "Libre Baskerville", serif;
  background-color: transparent;
  color: var(--font-color);
  border: 2px solid var(--font-color);
  text-align: center;
  height: 45px;
  width: 130px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.hero-button-movies {
  font-family: "Libre Baskerville", serif;
  background-color: transparent;
  color: var(--font-color);
  border: 2px solid var(--font-color);
  text-align: center;
  height: 45px;
  width: 130px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.hero-slideshow {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

.hero-slide1 {
  background-image: url('../assets/images/hero-1.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 50vh;
  animation: heroAnimation1 15s infinite;
}


.hero-slide2 {
  background-image: url('../assets/images/hero-2.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 50vh;
  animation: heroAnimation2 15s infinite;
}

main {
  width: 100%;
}

.current-movie-container {
  background-color: var(--container);
  width: 100%;
  padding: 1rem 0 0.8rem;
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.current-movie-carousel {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-movie-carousel img {
  width: auto;
  height: 300px;
  margin: 0;
}

.airing-soon-container {
  background-color: var(--container);
  width: 100%;
  padding: 1rem 0 0.8rem;
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.airing-soon-carousel {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.airing-soon-carousel img {
  width: auto;
  height: 300px;
  margin: 0;
}

.offer-container {
  background-color: var(--cta);
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 0.450rem solid var(--border-color);
}

.offer-container img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  border-radius: 3px 3px 0 0;
}

.offer-container h2 {
  color: white;
  text-align: center;
  padding: 1rem;
}

.offer-container p {
  color: white;
  text-align: center;
  padding: 0 1rem 1rem;
}

.cta-container {
  background-color: var(--email-cta-bg);
  color: var(--font-color);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 0.450rem solid var(--border-color);
  margin-top: 1rem;
}

footer {
  background-color: var(--nav);
  color: var(--font-color);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  color: var(--footer-font-color);
}



@keyframes heroAnimation1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heroAnimation2 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {

.hero {
  width: 100%;
  height: auto;
}

.hero-overlay {
  position: relative;
  width: 100%;
  height: 50vh;
}

.hero-content-container {
  background-color: var(--hero-bg);
  width: 47%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.hero-logo {
  width: 70%;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-logo img {
  width: 100%;
  height: auto;
}

.hero-text-content {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-button-upcoming {
  font-family: "Libre Baskerville", serif;
  background-color: transparent;
  color: var(--font-color);
  border: 2px solid var(--font-color);
  text-align: center;
  height: 45px;
  width: 130px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.hero-button-movies {
  font-family: "Libre Baskerville", serif;
  background-color: transparent;
  color: var(--font-color);
  border: 2px solid var(--font-color);
  text-align: center;
  height: 45px;
  width: 130px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.hero-slideshow {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

.hero-slide1 {
  background-image: url('../assets/images/hero-1.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 50vh;
  animation: heroAnimation1 15s infinite;
}


.hero-slide2 {
  background-image: url('../assets/images/hero-2.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 50vh;
  animation: heroAnimation2 15s infinite;
}
}

@media screen and (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }
  .desktop-navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-direction: row;
    background-color: var(--nav);
    height: 4rem;
    padding: 0 2rem;
  }
  .desktop-navbar a {
    color: var(--navbar-font-color);
    text-decoration: none;
    display: flex;
    align-self: center;
  }
  .desktop-navbar-location {
    background-color: var(--desktop-navbar-location);
    padding: 0.5rem 2.5rem;
    border-radius: 40px;
  }
  .cinema-ghibli-logo img{
    height: 8rem;
    width: 12rem;
  }
}